<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs Data</title>
    <style>
        table {
            border-collapse: collapse; /* Ensures that there are no spaces between table cells */
            width: 100%;
        }

        table, th, td {
            border: 1px solid black; /* Adds border to table, header cells, and data cells */
        }

        th, td {
            padding: 8px 12px; /* Adds some padding inside each cell for better readability */
            text-align: left;
        }

        th {
            background-color: #f2f2f2; /* Adds a light gray background to header cells */
        }
    </style>
</head>
<body>
    <h1>Data from JobPostModel</h1>
    <button id="startGptFiltering" class="button">
        Start GPT!
    </button>
    <button id="resetJobStatus" class="button">
        Rest jobs status
    </button>
    <table>
        <thead>
            <tr>
                <th style="width: 10px;"></th>
                <th>Job ID</th>
                <th>Company</th>
                <th>Title</th>
                <th>YOE</th>
                <th>Clearance</th>
                <th>No Sponsorship?</th>
                <th>Citizen</th>
            </tr>
        </thead>
        <tbody>
            {% for jobItem in job_list %}
            <tr>
                <td><input type="checkbox"></td>
                <td>{{ jobItem.linkedin_job_id }}</td>
                <td>{{ jobItem.company_name }}</td>
                <td><a href={{ jobItem.link }}>{{ jobItem.title }}</a></td>
                <td>{{ jobItem.minimum_yoe }}</td>
                <td>{{ jobItem.need_clearance }}</td>
                <td>{{ jobItem.no_sponsorship }}</td>
                <td>{{ jobItem.require_citizen }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Filtered out jobs</h1>
    <table>
        <thead>
            <tr>
                <th>Job ID</th>
                <th>Company</th>
                <th>Title</th>
                <th>YOE</th>
                <th>Clearance</th>
                <th>NO Sponsorship?</th>
                <th>Citizen</th>
            </tr>
        </thead>
        <tbody>
            {% for jobItem in filtered_out_job_list %}
            <tr>
                <td>{{ jobItem.linkedin_job_id }}</td>
                <td>{{ jobItem.company_name }}</td>
                <td><a href={{ jobItem.link }}>{{ jobItem.title }}</a></td>
                <td>{{ jobItem.minimum_yoe }}</td>
                <td>{{ jobItem.need_clearance }}</td>
                <td>{{ jobItem.no_sponsorship }}</td>
                <td>{{ jobItem.require_citizen }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        document.getElementById('startGptFiltering').addEventListener('click', function() {
            fetch('start-gpt-filtering/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                });
        });
        document.getElementById('resetJobStatus').addEventListener('click', function() {
            fetch('reset-all-status/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data.message);
                });
        });
    </script>

</body>
</html>